<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22G630</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kmtrigger</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>KeyCaps.icns</string>
			<key>CFBundleTypeName</key>
			<string>Keyboard Maestro Trigger File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.stairways.keyboardmaestro.kmtrigger</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Keyboard Maestro Engine</string>
	<key>CFBundleGetInfoString</key>
	<string>Keyboard Maestro Engine 11.0.3, Copyright 2004-2024 Stairways Software Pty Ltd.</string>
	<key>CFBundleIconFile</key>
	<string>kmicon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.stairways.keyboardmaestro.engine</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Keyboard Maestro Engine</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.0.3</string>
	<key>CFBundleSignature</key>
	<string>KM*E</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Keyboard Maestro Trigger</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kmtrigger</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>11.0.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.3</string>
	<key>DTSDKBuild</key>
	<string>22E245</string>
	<key>DTSDKName</key>
	<string>macosx13.3</string>
	<key>DTXcode</key>
	<string>1431</string>
	<key>DTXcodeBuild</key>
	<string>14E300c</string>
	<key>INIntentsSupported</key>
	<array>
		<string>KBMCalculateIntent</string>
		<string>KBMEditMacroIntent</string>
		<string>KBMExecuteMacroIntent</string>
		<string>KBMGetActiveMacrosIntent</string>
		<string>KBMGetMacroIntent</string>
		<string>KBMGetVariableIntent</string>
		<string>KBMProcessTokensIntent</string>
		<string>KBMSearchAndReplaceIntent</string>
		<string>KBMSearchIntent</string>
		<string>KBMSetVariableIntent</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>keyboardmaestro.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>stairways.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Keyboard Maestro uses AppleScripts to control various applications via native actions at your direction, and you might use it via AppleScript or scripts.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSCalendarUsageDescription</key>
	<string>Keyboard Maestro uses Calendar for the Create Calendar Event action or you might use it via AppleScript or scripts.</string>
	<key>NSCameraUsageDescription</key>
	<string>Keyboard Maestro does not use your camera although you might use it via AppleScript or scripts.</string>
	<key>NSContactsUsageDescription</key>
	<string>Your name and email address will be used to fill contact or feedback forms, and your address card may be used by you in AddressBook text tokens.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Keyboard Maestro Copyright 2004-2024 Stairways Software Pty Ltd.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Keyboard Maestro uses your location for the Get Location action and in Sonoma is required for Wireless network access and you might use it via AppleScript or scripts.</string>
	<key>NSLocationUsageDescription</key>
	<string>Keyboard Maestro uses your location for the Get Location action and in Sonoma is required for Wireless network access and you might use it via AppleScript or scripts.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Keyboard Maestro uses your location for the Get Location action and in Sonoma is required for Wireless network access and you might use it via AppleScript or scripts.</string>
	<key>NSMainNibFile</key>
	<string>MainEngine</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Keyboard Maestro does not use your microphone although you might use it via AppleScript or scripts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Keyboard Maestro does not use your photos although you might use it via actions, AppleScript or scripts.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRemindersUsageDescription</key>
	<string>Keyboard Maestro does not use your reminders although you might use it via AppleScript or scripts.</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>KBMCalculateIntent</string>
		<string>KBMEditMacroIntent</string>
		<string>KBMExecuteMacroIntent</string>
		<string>KBMGetActiveMacrosIntent</string>
		<string>KBMGetMacroIntent</string>
		<string>KBMGetVariableIntent</string>
		<string>KBMProcessTokensIntent</string>
		<string>KBMSearchAndReplaceIntent</string>
		<string>KBMSearchIntent</string>
		<string>KBMSetVariableIntent</string>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>Engine.sdef</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.stairways.keyboardmaestro.UpgradeHelper</key>
		<string>anchor apple generic and identifier "com.stairways.keyboardmaestro.UpgradeHelper" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = QMHRBA4LGH)</string>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keyboard Maestro Trigger File</string>
			<key>UTTypeIdentifier</key>
			<string>com.stairways.keyboardmaestro.kmtrigger</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kmtrigger</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
