<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllArchiveApps</key>
	<array>
		<string>com.apple.iWork.Numbers</string>
		<string>com.apple.iWork.Keynote</string>
	</array>
	<key>BadRegexes</key>
	<array>
		<string>^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$</string>
	</array>
	<key>ConcealedPasteboardIndicators</key>
	<array>
		<string>org.nspasteboard.ConcealedType</string>
		<string>com.agilebits.onepassword</string>
	</array>
	<key>Constants</key>
	<dict>
		<key>Appcast</key>
		<string>https://softwareupdate.pilotmoon.com/update/popclip/appcast.xml</string>
		<key>AppcastBeta</key>
		<string>https://softwareupdate.pilotmoon.com/update/popclip/appcast-beta.xml</string>
		<key>AppleEventsPermissionTimeout</key>
		<integer>15</integer>
		<key>BlobsBase</key>
		<string>public.popclip.app/blobs</string>
		<key>BrowserScriptTimeout</key>
		<real>1</real>
		<key>ElementTimeout</key>
		<real>0.29999999999999999</real>
		<key>FilterDelay</key>
		<real>0.074999999999999997</real>
		<key>FilterDistance</key>
		<integer>40</integer>
		<key>MaxSlowCharCountLength</key>
		<integer>1000</integer>
		<key>MaxSnippetLength</key>
		<integer>5000</integer>
		<key>MaxTextLength</key>
		<real>10485760</real>
		<key>MaxTextProcessingLength</key>
		<real>51200</real>
		<key>PasteboardRestoreDelay</key>
		<real>0.80000000000000004</real>
		<key>PasteboardTimeout</key>
		<real>0.59999999999999998</real>
		<key>PreviewLength</key>
		<integer>160</integer>
		<key>SpinnerDelay</key>
		<real>0.25</real>
		<key>TextControlSearchDepth</key>
		<integer>5</integer>
		<key>TextControlSearchLimit</key>
		<integer>100</integer>
	</dict>
	<key>KeyCombos</key>
	<dict>
		<key>copy</key>
		<dict>
			<key>keyChar</key>
			<string>C</string>
			<key>modifiers</key>
			<integer>1048576</integer>
		</dict>
		<key>cut</key>
		<dict>
			<key>keyChar</key>
			<string>X</string>
			<key>modifiers</key>
			<integer>1048576</integer>
		</dict>
		<key>paste</key>
		<dict>
			<key>keyChar</key>
			<string>V</string>
			<key>modifiers</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>OtherURLSchemes</key>
	<array>
		<string>evernote</string>
		<string>omnifocus</string>
		<string>spotify</string>
		<string>ftp</string>
		<string>bluesky</string>
		<string>hook</string>
		<string>craftdocs</string>
		<string>x-devonthink-item</string>
		<string>kmtrigger</string>
		<string>message</string>
		<string>lt</string>
	</array>
	<key>SelectiveArchiveTypes</key>
	<array>
		<string>com.apple.rtfd</string>
		<string>com.apple.flat-rtfd</string>
		<string>public.file-url</string>
		<string>com.apple.webarchive</string>
	</array>
	<key>SpellingAllowedWords</key>
	<array>
		<string>pilotmoon</string>
		<string>popclip</string>
	</array>
	<key>SpellingBlockedApps</key>
	<array>
		<string>com.apple.Terminal</string>
	</array>
	<key>TransientPasteboardIndicators</key>
	<array>
		<string>org.nspasteboard.TransientType</string>
		<string>de.petermaurer.TransientPasteboardType</string>
		<string>com.typeit4me.clipping</string>
		<string>Pasteboard generator type</string>
	</array>
</dict>
</plist>
