<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Macros</key>
	<dict>
		<key>:no-formatting-apps:</key>
		<array>
			<string>com.apple.dt.Xcode</string>
			<string>com.panic.Coda</string>
			<string>com.apple.Terminal</string>
			<string>com.twitter.twitter-mac</string>
			<string>com.apple.iChat</string>
			<string>osfoora.osfooramac</string>
			<string>com.echofon.*</string>
			<string>com.iconfactory.Twitterrific</string>
			<string>jp.informationarchitects.WriterForMacOSX</string>
			<string>com.YoruFukurouProject.YoruFukurou</string>
			<string>com.piezo.Translate-Tab</string>
			<string>com.macromates.textmate</string>
			<string>com.apple.ScriptEditor2</string>
			<string>com.barebones.bbedit</string>
			<string>com.sublimetext.*</string>
			<string>com.barebones.textwrangler</string>
			<string>com.macromates.TextMate.preview</string>
			<string>com.macromates.TextMate</string>
			<string>com.jetbrains.*</string>
		</array>
		<key>:blocked-apps:</key>
		<array>
			<string>com.adobe.*</string>
			<string>com.adobe.aerendercore</string>
			<string>com.amazon.Kindle</string>
			<string>com.apple.CharacterPaletteIM</string>
			<string>com.apple.dock</string>
			<string>com.apple.iphonesimulator</string>
			<string>com.apple.systemuiserver</string>
			<string>com.blizzard.*</string>
			<string>com.codeweavers.*</string>
			<string>com.collectorz.*</string>
			<string>com.oracle.SQLDeveloper</string>
			<string>com.parallels.*</string>
			<string>com.pilotmoon.popclip</string>
			<string>com.pixelmatorteam.*</string>
			<string>com.revolversoftware.office</string>
			<string>com.screencastomatic.app</string>
			<string>com.unity3d.*</string>
			<string>com.vmware.*</string>
			<string>net.java.openjdk.cmd</string>
			<string>org.keepassx.keepassx</string>
			<string>org.vim.MacVim</string>
			<string>com.edovia.screens.*</string>
			<string>com.jetbrains.*</string>
		</array>
		<key>:no-archive-apps:</key>
		<array>
			<string>com.adobe.aerendercore</string>
			<string>com.amazon.Kindle</string>
			<string>com.apple.CharacterPaletteIM</string>
			<string>com.apple.dock</string>
			<string>com.apple.iphonesimulator</string>
			<string>com.apple.systemuiserver</string>
			<string>com.blizzard.*</string>
			<string>com.codeweavers.*</string>
			<string>com.collectorz.*</string>
			<string>com.oracle.SQLDeveloper</string>
			<string>com.parallels.*</string>
			<string>com.revolversoftware.office</string>
			<string>com.screencastomatic.app</string>
			<string>com.unity3d.*</string>
			<string>com.vmware.*</string>
			<string>net.java.openjdk.cmd</string>
			<string>org.keepassx.keepassx</string>
			<string>com.edovia.screens.*</string>
		</array>
		<key>:safari-group:</key>
		<array>
			<string>com.apple.Safari</string>
			<string>com.apple.SafariTechnologyPreview</string>
			<string>com.kagi.kagimacOS</string>
		</array>
		<key>:chromium-group:</key>
		<array>
			<string>com.google.Chrome</string>
			<string>com.google.Chrome.canary</string>
			<string>org.chromium.Chromium</string>
			<string>com.brave.Browser</string>
			<string>com.brave.Browser.beta</string>
			<string>com.microsoft.edgemac</string>
			<string>com.microsoft.edgemac.Beta</string>
			<string>com.microsoft.edgemac.Dev</string>
			<string>com.microsoft.edgemac.Canary</string>
			<string>com.pushplaylabs.sidekick</string>
			<string>com.vivaldi.Vivaldi</string>
			<string>com.operasoftware.Opera</string>
			<string>com.operasoftware.OperaNext</string>
			<string>com.operasoftware.OperaDeveloper</string>
			<string>com.operasoftware.OperaGX</string>
			<string>org.chromium.Thorium</string>
			<string>com.sigmaos.sigmaos.macos</string>
		</array>
		<key>:firefox-group:</key>
		<array>
			<string>org.mozilla.firefox</string>
			<string>org.mozilla.firefoxdeveloperedition</string>
			<string>org.mozilla.nightly</string>
			<string>net.waterfox.waterfox</string>
			<string>org.mozilla.librewolf</string>
		</array>
		<key>:arc-group:</key>
		<array>
			<string>company.thebrowser.Browser</string>
		</array>
		<key>:known-browsers:</key>
		<array>
			<string>:safari-group:</string>
			<string>:chromium-group:</string>
			<string>:firefox-group:</string>
			<string>:arc-group:</string>
			<string>com.duckduckgo.macos.browser</string>
			<string>net.mullvad.mullvadbrowser</string>
			<string>org.torproject.torbrowser</string>
			<string>com.devon-technologies.agent</string>
		</array>
		<key>:browser-group-names:</key>
		<array>
			<string>safari</string>
			<string>chromium</string>
			<string>firefox</string>
			<string>arc</string>
		</array>
		<key>:text-controls:</key>
		<array>
			<string>AXTextField</string>
			<string>AXTextArea</string>
			<string>AXStaticText</string>
			<string>AXComboBox</string>
		</array>
		<key>:lenient-select-apps:</key>
		<array>
			<string>com.microsoft.Word</string>
			<string>com.YoruFukurouProject.*</string>
			<string>com.apple.Preview</string>
			<string>com.barebones.bbedit</string>
			<string>com.echofon.*</string>
			<string>com.github.GitHub</string>
			<string>com.github.atom</string>
			<string>com.jetbrains.*</string>
			<string>com.leisterpro.reunion9</string>
			<string>com.readdle.*</string>
			<string>com.redlex.mellel</string>
			<string>com.sonnysoftware.bookends</string>
			<string>com.vandyke.SecureCRT</string>
			<string>com.literatureandlatte.scrivener3</string>
			<string>com.1password.1password</string>
			<string>notion.id</string>
			<string>com.microsoft.VSCode</string>
			<string>md.obsidian</string>
			<string>net.sourceforge.skim-app.skim</string>
			<string>com.readdle.PDFExpert-Mac</string>
			<string>com.agiletortoise.Drafts-OSX</string>
			<string>com.ulyssesapp.mac</string>
			<string>com.soulmen.ulysses-setapp</string>
			<string>com.soulmen.ulysses3</string>
			<string>com.soulmen.ulysses3-setapp</string>
			<string>com.soulmen.ulysses3-demo</string>
			<string>com.kdanmobile.pdfreader-mac</string>
			<string>com.iconfactory.Tot</string>
			<string>com.evernote.Evernote</string>
			<string>com.apple.Terminal</string>
			<string>ru.keepcoder.Telegram</string>
			<string>net.ankiweb.dtop</string>
			<string>com.omnigroup.OmniFocus4</string>
			<string>org.squidowl.halloy</string>
			<string>dev.zed.Zed</string>
		</array>
		<key>:allow-window-disappear-apps:</key>
		<array>
			<string>com.pilotmoon.popclip</string>
		</array>
		<key>:allow-window-appear-apps:</key>
		<array>
			<string>:safari-group:</string>
		</array>
		<key>:grab-pb-apps:</key>
		<array>
			<string>net.sourceforge.skim-app.skim</string>
			<string>com.YoruFukurouProject.YoruFukurou</string>
			<string>com.skype.skype</string>
			<string>md.obsidian</string>
			<string>com.evernote.Evernote</string>
		</array>
		<key>:grab-kb-apps:</key>
		<array>
			<string>com.softwareambience.Unclutter*</string>
			<string>com.evernote.Evernote</string>
			<string>com.1password.1password</string>
			<string>com.jetbrains.*</string>
			<string>com.kdanmobile.pdfreader-mac</string>
			<string>com.figma.Desktop</string>
		</array>
		<key>:grab-blind-apps:</key>
		<array>
			<string>com.apple.Spotlight</string>
			<string>net.ankiweb.dtop</string>
			<string>org.squidowl.halloy</string>
		</array>
		<key>:assume-paste-apps:</key>
		<array>
			<string>net.ankiweb.dtop</string>
		</array>
		<key>:non-text-roles:</key>
		<array>
			<string>AXButton</string>
			<string>AXCheckBox</string>
			<string>AXColorWell</string>
			<string>AXDateField</string>
			<string>AXDisclosureTriangle</string>
			<string>AXMenu</string>
			<string>AXMenuBar</string>
			<string>AXMenuBarItem</string>
			<string>AXMenuButton</string>
			<string>AXMenuItem</string>
			<string>AXPopUpButton</string>
			<string>AXRadioButton</string>
			<string>AXScrollBar</string>
			<string>AXSlider</string>
			<string>AXTimeField</string>
			<string>AXToolbar</string>
			<string>AXValueIndicator</string>
		</array>
	</dict>
	<key>Policy</key>
	<dict>
		<key>app+blocked-apps</key>
		<dict>
			<key>Comment</key>
			<string>This rule puts a blanket block on all these apps.</string>
			<key>Policy</key>
			<string>deny-app</string>
			<key>App</key>
			<array>
				<string>:blocked-apps:</string>
			</array>
		</dict>
		<key>archive+no-archive-apps</key>
		<dict>
			<key>Comment</key>
			<string>This rule prevents pasteboard archiving of these apps.</string>
			<key>Policy</key>
			<string>deny-archive</string>
			<key>App</key>
			<array>
				<string>:no-archive-apps:</string>
			</array>
		</dict>
		<key>browser-address-bar+chrome</key>
		<dict>
			<key>Comment</key>
			<string>Classifies target as address bar in Chrome</string>
			<key>Policy</key>
			<string>browser-address-bar</string>
			<key>!ContainedInRole</key>
			<string>AXScrollArea</string>
			<key>App</key>
			<array>
				<string>:chromium-group:</string>
				<string>:brave-group:</string>
			</array>
			<key>Role</key>
			<string>AXTextField</string>
		</dict>
		<key>browser-address-bar-use-ax</key>
		<dict>
			<key>Comment</key>
			<string>Should use AX text for the browser address bar</string>
			<key>Policy</key>
			<string>browser-address-bar-use-ax</string>
			<key>App</key>
			<array>
				<string>:safari-group:</string>
			</array>
		</dict>
		<key>browser-address-bar+firefox</key>
		<dict>
			<key>Comment</key>
			<string>Classifies target as address bar in Firefox</string>
			<key>Policy</key>
			<string>browser-address-bar</string>
			<key>App</key>
			<string>:firefox-group:</string>
			<key>Cursor</key>
			<string>beam</string>
			<key>Role</key>
			<string>AXWindow</string>
			<key>SubRole</key>
			<string>AXStandardWindow</string>
		</dict>
		<key>browser-address-bar+opera</key>
		<dict>
			<key>Comment</key>
			<string>Classifies target as address bar in Opera</string>
			<key>Policy</key>
			<string>browser-address-bar</string>
			<key>!ContainedInRole</key>
			<string>AXScrollArea</string>
			<key>App</key>
			<array>
				<string>:opera-group:</string>
				<string>:edge-group:</string>
			</array>
			<key>ContainedInRole</key>
			<string>AXToolbar</string>
			<key>Role</key>
			<string>AXTextField</string>
		</dict>
		<key>preprobe+no-single-click</key>
		<dict>
			<key>Comment</key>
			<string>Blanket don&apos;t allow single click as trigger</string>
			<key>Policy</key>
			<string>deny-preprobe</string>
			<key>Trigger</key>
			<string>single</string>
		</dict>
		<key>preprobe+browser-click-exception</key>
		<dict>
			<key>Comment</key>
			<string>Allow click as trigger in browsers with beam or arrow, for addressbar</string>
			<key>Policy</key>
			<string>preprobe</string>
			<key>App</key>
			<string>:known-browsers:</string>
			<key>Cursor</key>
			<array>
				<string>beam</string>
				<string>arrow</string>
			</array>
			<key>Trigger</key>
			<string>single</string>
		</dict>
		<key>preprobe+hold-requires-beam</key>
		<dict>
			<key>Comment</key>
			<string>Suppress when hold unless beam</string>
			<key>Policy</key>
			<string>deny-preprobe</string>
			<key>Trigger</key>
			<string>hold</string>
			<key>!Cursor</key>
			<array>
				<string>beam</string>
			</array>
		</dict>
		<key>probe+blocked-roles</key>
		<dict>
			<key>Comment</key>
			<string>This rule puts a blanket block on all these accessibilty roles</string>
			<key>Policy</key>
			<string>deny-probe</string>
			<key>Role</key>
			<array>
				<string>:non-text-roles:</string>
			</array>
		</dict>
		<key>probe+multi-web-area-without-beam</key>
		<dict>
			<key>Comment</key>
			<string>Suppress when multi click in web area with no beam</string>
			<key>Policy</key>
			<string>deny-probe</string>
			<key>Trigger</key>
			<string>multi</string>
			<key>ContainedInRole</key>
			<string>AXWebArea</string>
			<key>!Cursor</key>
			<string>beam</string>
		</dict>
		<key>discover+special-ibooks</key>
		<dict>
			<key>Comment</key>
			<string>iBooks text is excluded</string>
			<key>Policy</key>
			<string>deny-discover</string>
			<key>App</key>
			<string>com.apple.iBooksX</string>
			<key>ContainedInRole</key>
			<string>AXWebArea</string>
		</dict>
		<key>discover+require-beam</key>
		<dict>
			<key>Comment</key>
			<string>Default deny always unless we see a beam cursor</string>
			<key>Policy</key>
			<string>deny-discover</string>
			<key>!Cursor</key>
			<array>
				<string>beam</string>
			</array>
		</dict>
		<key>discover+lenient-select</key>
		<dict>
			<key>Comment</key>
			<string>Apps where PopClip can proceed with arrow or pointing-hand cursor for a potential drag, shift-click or double-click</string>
			<key>Policy</key>
			<string>discover</string>
			<key>App</key>
			<array>
				<string>:known-browsers:</string>
				<string>:lenient-select-apps:</string>
			</array>
			<key>Cursor</key>
			<array>
				<string>arrow</string>
				<string>pointing-hand</string>
			</array>
			<key>Trigger</key>
			<array>
				<string>drag</string>
				<string>shift</string>
				<string>multi</string>
			</array>
		</dict>
		<key>formatting+blocked-apps</key>
		<dict>
			<key>Comment</key>
			<string>Apps for which &quot;formatting&quot; actions will not appear</string>
			<key>Policy</key>
			<string>deny-formatting</string>
			<key>App</key>
			<array>
				<string>:no-formatting-apps:</string>
			</array>
		</dict>
		<key>formatting+blocked-roles</key>
		<dict>
			<key>Comment</key>
			<string>Roles for which formatting actions will not appear</string>
			<key>Policy</key>
			<string>deny-formatting</string>
			<key>Role</key>
			<string>AXTextField</string>
		</dict>
		<key>grab-kb</key>
		<dict>
			<key>Comment</key>
			<string>Apps to use keyboard in preference to menu activation</string>
			<key>Policy</key>
			<string>grab-kb</string>
			<key>App</key>
			<array>
				<string>:grab-kb-apps:</string>
			</array>
		</dict>
		<key>grab-pb</key>
		<dict>
			<key>Comment</key>
			<string>Apps to use pasteboard in preference to axapi grab</string>
			<key>Policy</key>
			<string>grab-pb</string>
			<key>App</key>
			<array>
				<string>:grab-pb-apps:</string>
			</array>
		</dict>
		<key>grab-blind</key>
		<dict>
			<key>Comment</key>
			<string>Apps to perform keyboard grab without the presence of a menu item</string>
			<key>Policy</key>
			<string>grab-blind</string>
			<key>App</key>
			<array>
				<string>:grab-blind-apps:</string>
			</array>
		</dict>
		<key>assume-paste</key>
		<dict>
			<key>Comment</key>
			<string>Apps to assume paste and cut are available if copy is</string>
			<key>Policy</key>
			<string>assume-paste</string>
			<key>App</key>
			<array>
				<string>:assume-paste-apps:</string>
			</array>
		</dict>
		<key>suppress-unless-beam</key>
		<dict>
			<key>Comment</key>
			<string>Suppress empty selection for multi-click unless we have beam</string>
			<key>Policy</key>
			<string>suppress</string>
			<key>Trigger</key>
			<array>
				<string>multi</string>
				<string></string>
			</array>
			<key>!Cursor</key>
			<array>
				<string>beam</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
