<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocalizedStrings</key>
	<dict>
		<key>ar</key>
		<dict>
			<key>Copy</key>
			<string>نسخ</string>
			<key>Cut</key>
			<string>قص</string>
			<key>Paste</key>
			<string>لصق</string>
		</dict>
		<key>ca</key>
		<dict>
			<key>Copy</key>
			<string>Copiar</string>
			<key>Cut</key>
			<string>Retallar</string>
			<key>Paste</key>
			<string>Enganxar</string>
		</dict>
		<key>cs</key>
		<dict>
			<key>Copy</key>
			<string>Kopírovat</string>
			<key>Cut</key>
			<string>Vyjmout</string>
			<key>Paste</key>
			<string>Vložit</string>
		</dict>
		<key>da</key>
		<dict>
			<key>Copy</key>
			<string>Kopier</string>
			<key>Cut</key>
			<string>Klip</string>
			<key>Paste</key>
			<string>Sæt ind</string>
		</dict>
		<key>de</key>
		<dict>
			<key>Copy</key>
			<string>Kopieren</string>
			<key>Cut</key>
			<string>Ausschneiden</string>
			<key>Paste</key>
			<string>Einsetzen</string>
		</dict>
		<key>el</key>
		<dict>
			<key>Copy</key>
			<string>Αντιγραφή</string>
			<key>Cut</key>
			<string>Αποκοπή</string>
			<key>Paste</key>
			<string>Επικόλληση</string>
		</dict>
		<key>en</key>
		<dict>
			<key>Copy</key>
			<string>Copy</string>
			<key>Cut</key>
			<string>Cut</string>
			<key>Paste</key>
			<string>Paste</string>
		</dict>
		<key>es</key>
		<dict>
			<key>Copy</key>
			<string>Copiar</string>
			<key>Cut</key>
			<string>Cortar</string>
			<key>Paste</key>
			<string>Pegar</string>
		</dict>
		<key>fi</key>
		<dict>
			<key>Copy</key>
			<string>Kopioi</string>
			<key>Cut</key>
			<string>Leikkaa</string>
			<key>Paste</key>
			<string>Sijoita</string>
		</dict>
		<key>fr</key>
		<dict>
			<key>Copy</key>
			<string>Copier</string>
			<key>Cut</key>
			<string>Couper</string>
			<key>Paste</key>
			<string>Coller</string>
		</dict>
		<key>he</key>
		<dict>
			<key>Copy</key>
			<string>העתק</string>
			<key>Cut</key>
			<string>גזור</string>
			<key>Paste</key>
			<string>הדבק</string>
		</dict>
		<key>hr</key>
		<dict>
			<key>Copy</key>
			<string>Kopiraj</string>
			<key>Cut</key>
			<string>Izreži</string>
			<key>Paste</key>
			<string>Zalijepi</string>
		</dict>
		<key>hu</key>
		<dict>
			<key>Copy</key>
			<string>Másolás</string>
			<key>Cut</key>
			<string>Kivágás</string>
			<key>Paste</key>
			<string>Beillesztés</string>
		</dict>
		<key>it</key>
		<dict>
			<key>Copy</key>
			<string>Copia</string>
			<key>Cut</key>
			<string>Taglia</string>
			<key>Paste</key>
			<string>Incolla</string>
		</dict>
		<key>ja</key>
		<dict>
			<key>Copy</key>
			<string>コピー</string>
			<key>Cut</key>
			<string>カット</string>
			<key>Paste</key>
			<string>ペースト</string>
		</dict>
		<key>ko</key>
		<dict>
			<key>Copy</key>
			<string>복사하기</string>
			<key>Cut</key>
			<string>오려두기</string>
			<key>Paste</key>
			<string>붙이기</string>
		</dict>
		<key>nb</key>
		<dict>
			<key>Copy</key>
			<string>Kopier</string>
			<key>Cut</key>
			<string>Klipp ut</string>
			<key>Paste</key>
			<string>Lim inn</string>
		</dict>
		<key>nl</key>
		<dict>
			<key>Copy</key>
			<string>Kopieer</string>
			<key>Cut</key>
			<string>Knip</string>
			<key>Paste</key>
			<string>Plak</string>
		</dict>
		<key>pl</key>
		<dict>
			<key>Copy</key>
			<string>Kopiuj</string>
			<key>Cut</key>
			<string>Wytnij</string>
			<key>Paste</key>
			<string>Wklej</string>
		</dict>
		<key>pt</key>
		<dict>
			<key>Copy</key>
			<string>Copiar</string>
			<key>Cut</key>
			<string>Cortar</string>
			<key>Paste</key>
			<string>Colar</string>
		</dict>
		<key>pt-BR</key>
		<dict>
			<key>Copy</key>
			<string>Copiar</string>
			<key>Cut</key>
			<string>Cortar</string>
			<key>Paste</key>
			<string>Colar</string>
		</dict>
		<key>ro</key>
		<dict>
			<key>Copy</key>
			<string>Copiază</string>
			<key>Cut</key>
			<string>Taie</string>
			<key>Paste</key>
			<string>Lipește</string>
		</dict>
		<key>ru</key>
		<dict>
			<key>Copy</key>
			<string>Скопировать</string>
			<key>Cut</key>
			<string>Вырезать</string>
			<key>Paste</key>
			<string>Вставить</string>
		</dict>
		<key>sk</key>
		<dict>
			<key>Copy</key>
			<string>Kopírovať</string>
			<key>Cut</key>
			<string>Vystrihnúť</string>
			<key>Paste</key>
			<string>Vložiť</string>
		</dict>
		<key>sv</key>
		<dict>
			<key>Copy</key>
			<string>Kopiera</string>
			<key>Cut</key>
			<string>Klipp ut</string>
			<key>Paste</key>
			<string>Klistra in</string>
		</dict>
		<key>th</key>
		<dict>
			<key>Copy</key>
			<string>คัดลอก</string>
			<key>Cut</key>
			<string>ตัด</string>
			<key>Paste</key>
			<string>วาง</string>
		</dict>
		<key>tr</key>
		<dict>
			<key>Copy</key>
			<string>Kopyala</string>
			<key>Cut</key>
			<string>Kes</string>
			<key>Paste</key>
			<string>Yapıştır</string>
		</dict>
		<key>vi</key>
		<dict>
			<key>Cut</key>
			<string>Cắt</string>
			<key>Copy</key>
			<string>Sao chép</string>
			<key>Paste</key>
			<string>Dán</string>
		</dict>
		<key>uk</key>
		<dict>
			<key>Copy</key>
			<string>Скопіювати</string>
			<key>Cut</key>
			<string>Вирізати</string>
			<key>Paste</key>
			<string>Вставити</string>
		</dict>
		<key>zh-Hans</key>
		<dict>
			<key>Copy</key>
			<string>拷贝</string>
			<key>Cut</key>
			<string>剪切</string>
			<key>Paste</key>
			<string>粘贴</string>
		</dict>
		<key>zh-Hant</key>
		<dict>
			<key>Copy</key>
			<string>拷貝</string>
			<key>Cut</key>
			<string>剪下</string>
			<key>Paste</key>
			<string>貼上</string>
		</dict>
	</dict>
	<key>WindowWidthAdjust</key>
	<dict>
		<key>da</key>
		<integer>12</integer>
		<key>de</key>
		<integer>6</integer>
		<key>es</key>
		<integer>36</integer>
		<key>fr</key>
		<integer>41</integer>
		<key>it</key>
		<integer>30</integer>
		<key>ru</key>
		<integer>23</integer>
		<key>pl</key>
		<integer>12</integer>
		<key>pt-BR</key>
		<integer>6</integer>
		<key>nl</key>
		<integer>6</integer>
		<key>vi</key>
		<integer>15</integer>
		<key>sk</key>
		<integer>38</integer>
		<key>tr</key>
		<integer>6</integer>
		<key>uk</key>
		<integer>6</integer>
	</dict>
	<key>ShortTitles</key>
	<dict>
		<key>Cut</key>
		<string>⌘X</string>
		<key>Copy</key>
		<string>⌘C</string>
		<key>Paste</key>
		<string>⌘V</string>
	</dict>
</dict>
</plist>
