<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cursors</key>
	<dict>
		<key>:BxBjCgKBQCAQHAQCgUBQxg0:</key>
		<string>beam/com.sublimetext.3</string>
		<key>:BxBjCgKBQCAQBAQCgUBQxg0:</key>
		<string>beam/iTerm2</string>
		<key>:BxBjDgKBQCAQHAQCgUBwxg0:</key>
		<string>beam/com.macromates.TextMate</string>
		<key>:CA08JCQkJCQkJOeBQiQY0:</key>
		<string>resize</string>
		<key>:CA0YJEKB5yQkJCQkJCQ80:</key>
		<string>resize</string>
		<key>:CBAYJEKB5yQkJCQkJOeBQiQY0:</key>
		<string>resize</string>
		<key>:CRE4UBARpCp1275tc+oKGDBgwID/AQ0:</key>
		<string>other</string>
		<key>:CRHvIx5HgQIFChQoUKBAgQLF8YjvAQ0:</key>
		<string>beam/com.readdle.PDFExpert-Mac</string>
		<key>:CRLGIgoCgAIFChQoiKBAgQIFAEERjQE0:</key>
		<string>beam/com.apple.dt.Xcode</string>
		<key>:CRLGIhpDAQAAAAAoiKAAAAAACmMRjQE0:</key>
		<string>beam/com.apple.Terminal</string>
		<key>:CRLHcx5ngwIFChRsiLBBgQIFm+M5jwM0:</key>
		<string>beam/com.barebones.bbedit</string>
		<key>:CRPHIx5HgQIFChRsiLBBgQIFChTHIx4H0:</key>
		<string>beam/com.jetbrains.PhpStorm</string>
		<key>:CwsAAyQQQXSRRgQhBGEIwh8A0:</key>
		<string>resize</string>
		<key>:CwsGSEAEREB0xEIQhDCEIPwB0:</key>
		<string>resize</string>
		<key>:Cwt/CEIYQhCERlwEREAEJMAA0:</key>
		<string>resize</string>
		<key>:CwvwhyAMQQhBxBJdBBFIgAEA0:</key>
		<string>resize</string>
		<key>:CxEABDBAAQlEEEIQgQQU4Achi1gkA5EEOAA0:</key>
		<string>arrow/com.microsoft.Word</string>
		<key>:CxEBGEABEhCBEAQhEAEJUPCT0IBJRAI04AA0:</key>
		<string>arrow/com.readdle.PDFExpert-Mac</string>
		<key>:DQgAA6D8pwAYAP8TQAEY0:</key>
		<string>resize</string>
		<key>:DQgYgALI/wAYAOU/BcAA0:</key>
		<string>resize</string>
		<key>:DQtsQ5IJUAJoAANgABJABASBIBA0:</key>
		<string>other/chrome grabbing hand</string>
		<key>:DSAH6MPgDPgAHoABMAAGwAAYAANgAAyAATAABvAAHgADYAAMgAEwAAbAABgAA/AAH3DEBznA0:</key>
		<string>beam/com.googlecode.iterm2</string>
		<key>:Dg5/QBAQBoQAQUAjcBGA6EAsIAgQAoaAIOAP0:</key>
		<string>resize</string>
		<key>:Dg6APyAIGAKEgCAQC6JfBI1AEBAChAFBwB8A0:</key>
		<string>resize</string>
		<key>:DiAH+IePc4AH4AEwAAwAA8AAMAAMAAPAADAADAAD8AP8AAwAA8AAMAAMAAPAADAADIAH4AHO8eEf4A0:</key>
		<string>beam/com.ulyssesapp.mac</string>
		<key>:DiAP/M8PP4AHwAAwAAwAA8AAMAAMAAPAADAADAAD8AP8AAwAA8AAMAAMAAPAADAADAAD4AH88PM/8A0:</key>
		<string>beam/com.github.atom</string>
		<key>:EAgYGBQo8k8BgAGA8k8UKBgY0:</key>
		<string>resize</string>
		<key>:EBCAAUACIAQQCHgeVCpyTgGAAYByTlQqeB4QCCAEQAKAAQ0:</key>
		<string>other</string>
		<key>:EBCAAVgOZBJkUkiySJIWkBmAEUACQARABCAIIBAQIBAgEA0:</key>
		<string>other/chrome grabbing hand</string>
		<key>:FBIAMOafnAEy5h8UCELhHxQBQuEfFAhCAR8iAEABABQAQAEAFABAAQBjAMgJAGM0:</key>
		<string>beam/com.microsoft.Word</string>
		<key>:FBLGAJATBMacgCIQKJyDAkwo+INCECj4R0SAKPiHQhAo+IACACgAYAwAOQFgDAA0:</key>
		<string>beam/com.microsoft.Word</string>
		<key>:FBLGAJCTf8YEiIJ/KASBgn8oBIiCfygEQYQPKACAAgAoAIACACgAYAwAOQFgDAA0:</key>
		<string>beam/com.microsoft.Word</string>
		<key>:FBLGAJCTf8YEiIJ/KBCCgn8oBIiCfygQQgQeKACAAgAoAIACACgAYAwAOQFgDAA0:</key>
		<string>beam/com.microsoft.Word</string>
		<key>:EiADAw8MzAMPDzzADAAzAMwAMAPADAAzAMwAMAPADAAzAMwAMAMwMMDAAM8APAPADAAzAMwAMAPADAAzAMwAMAM88PDAMzDwwMA0:</key>
		<string>beam/UltraEdit</string>
		<key>:CRLGchpDgQIFChREqBBBgQIFCmM5jQE0:</key>
		<string>beam/com.apple.Terminal</string>
		<key>:CRLHcx5HgQIFChRsiLBBgQIFiuM5jwM0:</key>
		<string>beam/com.edovia.screens.mac-setapp</string>
		<key>:ECIf+GGGwYOP8RAIIARAAkACQAJAAkACQAJAAkACQAJAAnAOEAgQCHAOQAJAAkACQAJAAkACQAJAAiAEEAiP8cGDYYYf+A0:</key>
		<string>beam/BBEdit</string>
		<key>:ABA0:</key>
		<string>other/empty</string>
		<key>:CxEBGEABEhCBEAQhEAEJUPCT0YnJxAQk4AE0:</key>
		<string>arrow</string>
		<key>:DBIwhpwwBhRAAAigAAogAARQAAUQAAIoYAw5YQw0:</key>
		<string>beam/word italics</string>
		<key>:EiI/8P//P3jwwMA/8P/hD8wAMAPADAAzAMwAMAPADAAzAMwAMAPADAAzAMwAMAPADAAzAMwAMAPADAAzAMwAMAN/+P/APzDw4MH////ADw0:</key>
		<string>beam/PDFExpert</string>
		<key>:EiQOwP3zP/zwwMAHgPvAB4YBEALADAAzAMwAMAPADAAzAMwAMAPgHMDzAAMDDAzwPIBzAMwAMAPADAAzAMwAMANACIBh4APfAeADAw8//M+/B3g0:</key>
		<string>beam/Xcode</string>
		<key>:CRHvIz5HgQIFChQoUKBAgQLF84jvAQ0:</key>
		<string>beam/PDFExpert</string>
		<key>:CRLGIhpDgQIFChQoUKBAgQIFCmMRjQE0:</key>
		<string>beam/PDFExpert</string>
		<key>:EBDwAAwDBgZiBGEI+Qn5CWEIYgQGBgwP+B0AOABwAOAAQA0:</key>
		<string>other/analytics zoom in</string>
		<key>:EBDwAAwDBgYCBAEI+Qn5CQEIAgQGBgwP+B0AOABwAOAAQA0:</key>
		<string>other/analytics zoom out</string>
		<key>:FBgAAgBwAIANAIgAwB0AUAAQR8BxHPZ/M/xh9n/DsRwY0wAwBsBDACwIgAMBMCAAAgQg/wAaAOAAAAYAIAA0:</key>
		<string>other/analytics</string>
		<key>:ExMAAgA4AGADABEA3AGAAkAcgeM49n8b7rD93ziOg3EMgAIAdwAYA4ANADgAgAAA0:</key>
		<string>other/analytics</string>
		<key>:CQx8iBAhQoSIsYCCiLCBAA0:</key>
		<string>other/analytics</string>
		<key>:EBDgByAEoAWgBaAFv/2Bgf2//b+Bgb/9oAWgBaAFIATgBw0:</key>
		<string>other/analytics</string>
		<key>:EBDAA0ACQAJAAlAKXDp2bgPAA8B2blw6WBpAAkACQALAAw0:</key>
		<string>other/analytics</string>
		<key>:Cg54GDZwjGm+CDFiyCCBBxJI4AE0:</key>
		<string>other/analytics</string>
		<key>:Dg7gAUgAEoAEIMHPHwAGgD8/SAASgAQgAXgA0:</key>
		<string>other/analytics</string>
		<key>:Dw9/gBBADCAG0Bb4HsQLwAawR/A2wBbACGAEEAL8AQ0:</key>
		<string>other/analytics</string>
		<key>:EhIAA8ByADQCzRY0W8FtwrYt+Lft/3T/pa8WvBrgvwB/APwFKBRALgBCAA0:</key>
		<string>other/analytics</string>
		<key>:CRQQcPDx9x8HDhw4cODAgQMHjv/++OCAAA0:</key>
		<string>other/analytics</string>
		<key>:DBMBMAAFkAAREAJBEAgBESABFICBHwkpURJDAiSAAA0:</key>
		<string>arrow/analytics</string>
		<key>:EiQOwP3zP/7x4MEf4PvhB4YBMAPADAAzAMwAMAPADAAzAMwAMAPgHMDzAAMDDAzwPIBzAMwAMAPADAAzAMwAMAPADIBh4IffB/gDA49//M+/B3g0:</key>
		<string>beam/analytics</string>
		<key>:Dg4/QASQAVQAL0G2ADfADtAieA+wApgAIsAP0:</key>
		<string>other/analytics</string>
		<key>:DxBgAEgAJAASALmApFkAM4AQQAEgAQgAhACCgIFQgDc0:</key>
		<string>pointing-hand/analytics</string>
		<key>:CREQcKAgIug9Cj5E+KB4L4gIGxwQAA0:</key>
		<string>other/analytics</string>
		<key>:EiQc4Pjz9//////+//H/A/4B8APADwA/APwA8APADwA/APwA8APADwA/APwA8APADwA/APwA8APADwA/APwA8APAD4B/wP+P/3//////788fBzg1:</key>
		<string>beam/PDFExpert3</string>
		<key>:EiQOwP3z//////////v/B/4B8APADwA/APwA8APADwA/APwA8APgH8D/AP8D/A/wP4B/APwA8APADwA/APwA8APAD4B/4P/f/////////8+/B3g1:</key>
		<string>beam/Xcode14</string>
		<key>:ChTO/f+/f3jggQceePCDBx544IEHHv79/79z1:</key>
		<string>beam/PDFExpert3</string>
		<key>:FCg8wOOff//////////v/3/+/wf+B8A/APwDgB8A+AGAHwD4AYAfAPwD4H8A/gfw/wD/D+B/AP4HwD8A+AGAHwD4AYAfAPgBgB8A+AGAHwD8A+B/4P9//v/3//////////75xwc+1:</key>
		<string>beam/PDFExpert3</string>
	</dict>
</dict>
</plist>
