<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>PopClip is a background app that shows a pop-up action menu when the user selects text.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>DenyConsequences</key>
			<string>The consequence of denying these connections depends on the subdomain being connected to.</string>
			<key>Host</key>
			<string>*.pilotmoon.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>The domain "pilotmoon.com" is owned by Nicholas Moore, the developer of PopClip. Each distinct online feature connects to a specific subdomain (such as "softwareupdate" or "crashreport") so that you can identify its purpose.</string>
		</dict>
		<dict>
			<key>DenyConsequences</key>
			<string>If you deny these connections, you will not be notified about new versions of PopClip.</string>
			<key>Host</key>
			<string>softwareupdate.pilotmoon.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>PopClip periodically checks if a newer version of the application is available. You can disable these automatic software update checks in PopClip's settings.</string>
		</dict>
		<dict>
			<key>DenyConsequences</key>
			<string>If you deny these connections, PopClip's developer will not be alerted about crashes.</string>
			<key>Host</key>
			<string>crashreport.pilotmoon.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>When PopClip detects that it crashed, it sends a crash report to the developer. The report contains technical details that will help the developer diagnose and fix the crash.</string>
		</dict>
		<dict>
			<key>DenyConsequences</key>
			<string>If you deny these connections, extensions that require an Internet connection may not work.</string>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>PopClip connects to various servers on behalf of extensions you have installed.</string>
		</dict>
		<dict>
			<key>DenyConsequences</key>
			<string>If you deny these connections, some extensions will not have their correct icons.</string>
			<key>Host</key>
			<string>api.iconify.design</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>PopClip downloads icon images for some extensions from Iconify, a public open-source icon repository.</string>
		</dict>
		<dict>
			<key>DenyConsequences</key>
			<string>If you deny these connections, PopClip may fail to display, install or update extensions.</string>
			<key>Host</key>
			<string>public.popclip.app</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>PopClip downloads extensions, extension updates, extension directory metadata, and extension icons from this server.</string>
		</dict>
	</array>
	<key>DeveloperName</key>
	<string>Nicholas Moore</string>
	<key>Services</key>
	<array/>
	<key>Website</key>
	<string>https://www.popclip.app/</string>
</dict>
</plist>
