<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>24B83</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>popclipext</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PopClip Extension Package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pilotmoon.popclip.extension</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>popcliplicense</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PopClip License Key</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pilotmoon.popclip.license</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>popclipextz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PopClip Extension</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pilotmoon.popclip.extension.zipped</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>popclipconfig</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PopClip Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pilotmoon.popclip.config</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>popcliptxt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PopClip Extension Text File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pilotmoon.popclip.extension.text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PopClip</string>
	<key>CFBundleIconFile</key>
	<string>PopClip2023</string>
	<key>CFBundleIdentifier</key>
	<string>com.pilotmoon.popclip</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PopClip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2024.12</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.pilotmoon.popclip-urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>popclip</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4688</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24C94</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>24C94</string>
	<key>DTSDKName</key>
	<string>macosx15.2</string>
	<key>DTXcode</key>
	<string>1620</string>
	<key>DTXcodeBuild</key>
	<string>16C5032a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NMStatusItemDelegateClass</key>
	<string>PopStatusItemDelegate</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>PopClip uses automation to open tabs in browsers, to get the title and URL of the current web page, and to run extensions that use AppleScript.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© Pilotmoon Software</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>PopApp</string>
	<key>NSRemindersUsageDescription</key>
	<string>PopClip needs Reminders access on behalf of an extension you have installed.</string>
	<key>OSAScriptingDefinition</key>
	<string>PopClip.sdef</string>
	<key>PMAppInfoProviderClass</key>
	<string>PopAppInfo</string>
	<key>PilotmoonReleaseChannel</key>
	<string>Production</string>
	<key>PilotmoonReleaseEdition</key>
	<string>Standalone</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUBundleName</key>
	<string>PopClip</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>heX4o1mDXEKmelow1XbATuXM5amRCWGhQMFR6cnHy/k=</string>
	<key>SUScheduledCheckInterval</key>
	<string>86400</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.directory</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PopClip Extension Package</string>
			<key>UTTypeIdentifier</key>
			<string>com.pilotmoon.popclip.extension</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>popclipext</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PopClip License Key</string>
			<key>UTTypeIdentifier</key>
			<string>com.pilotmoon.popclip.license</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>popcliplicense</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PopClip Extension</string>
			<key>UTTypeIdentifier</key>
			<string>com.pilotmoon.popclip.extension.zipped</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>popclipextz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PopClip Extension Text File</string>
			<key>UTTypeIdentifier</key>
			<string>com.pilotmoon.popclip.extension.text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>popcliptxt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PopClip Configuration</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.pilotmoon.popclip.config</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>popclipconfig</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
