<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x1B1C:0x1B11</key>
	<dict>
		<key>Comment</key>
		<string>Corsair K95 RGB Gaming Keyboard</string>
		<key>0x000F:0x0001</key>
		<string>G1</string>
		<key>0x000F:0x0002</key>
		<string>G2</string>
		<key>0x000F:0x0004</key>
		<string>G3</string>
		<key>0x000F:0x0008</key>
		<string>G4</string>
		<key>0x000F:0x0010</key>
		<string>G5</string>
		<key>0x000F:0x0020</key>
		<string>G6</string>
		<key>0x000F:0x0040</key>
		<string>G7</string>
		<key>0x000F:0x0080</key>
		<string>G8</string>
		<key>0x0010:0x0001</key>
		<string>G9</string>
		<key>0x0010:0x0002</key>
		<string>G10</string>
		<key>0x0011:0x0001</key>
		<string>G11</string>
		<key>0x0011:0x0002</key>
		<string>G12</string>
		<key>0x0011:0x0004</key>
		<string>G13</string>
		<key>0x0011:0x0008</key>
		<string>G14</string>
		<key>0x0011:0x0010</key>
		<string>G15</string>
		<key>0x0011:0x0020</key>
		<string>G16</string>
		<key>0x0011:0x0040</key>
		<string>G17</string>
		<key>0x0011:0x0080</key>
		<string>G18</string>
	</dict>
</dict>
</plist>
